<w-block-ui [blocked]="blocked" [title]="'processing' | translate" [text]="'please_wait' | translate"></w-block-ui>

<form [formGroup]="requestForm"  enctype="multipart/form-data" (ngSubmit)="onSubmit()">

    <w-page-header [title]="'filing.pageTitle' | translate" [disableUppercase]="true" [showPortfolio]="false">
    </w-page-header>


  <w-step>
    <f-facet name="step-content-top">
      <w-view-panel type="important">
        <f-facet name="section-folded">
          <p facet-step-info [innerHTML]="'filing.description' | translate "></p>
        </f-facet>
      </w-view-panel>
      <w-view-panel>
        <f-facet name="section-unfolded">
          <p facet-step-info [innerHTML]="'filing.rulesDetails' | translate "></p>
        </f-facet>
        <f-facet name="section-folded">
          <p facet-step-info [innerHTML]="'filing.rulesLabel' | translate "></p>
        </f-facet>
      </w-view-panel>
      <w-view-panel type="important">
        <f-facet name="section-folded">
          <p facet-step-info [innerHTML]="'filing.paymentDisclaimer' | translate "></p>
        </f-facet>
      </w-view-panel>
    </f-facet>
  </w-step>

  <br>
  <w-page-header [title]="'filing.pageSecTitle' | translate" [disableUppercase]="true" [showPortfolio]="false">
  </w-page-header>

  <w-edit-panel>
    <w-section>
      <w-slot>
        <w-input-text [label]="'filing.complainantFullName' | translate" [labelOnTop]="true" [required]="true" maxLength="255"
          formControlName="complainantFullName">
          <f-facet name="error" *ngIf="submitted && f.complainantFullName.errors?.required">{{'validationWarning' | translate  }}</f-facet>
        </w-input-text>
        <w-select-one [label]="'filing.complainantCountry' | translate" [labelOnTop]="true" [required]="true"
          formControlName="complainantCountry" [options]="countryOptions">
          <f-facet name="error" *ngIf="submitted && f.complainantCountry.errors?.required">{{'validationWarning' | translate  }}</f-facet>
        </w-select-one>
      </w-slot>

      <w-slot>
        <w-input-text [label]="'filing.complainantAddress' | translate" [labelOnTop]="true" [required]="true"  formControlName="complainantAddress" maxLength="1000">
          <f-facet name="error" *ngIf="submitted && f.complainantAddress.errors?.required">{{'validationWarning' | translate }}</f-facet>
        </w-input-text>
        <w-input-text [label]="'filing.complainantEmail' | translate" [labelOnTop]="true" [required]="true"  formControlName="complainantEmail" maxLength="255">
          <f-facet name="info" [innerHTML]="'filing.complainantEmailInfo' | translate"> </f-facet>
          <f-facet name="error" *ngIf="submitted && f.complainantEmail.errors?.required">{{'validationWarning' | translate }}</f-facet>
          <f-facet name="error" *ngIf="f.complainantEmail.errors?.invalidEmails">{{'validationEmail' |  translate}}</f-facet>
        </w-input-text>
      </w-slot>
    </w-section>


    <w-section>
      <w-slot>
        <w-select-one [label]="'filing.complainantAuthRepType' | translate" [labelOnTop]="true" [required]="true"
          (change)="selectAuthRepType(this.requestForm)" [options]="'filing.optionsAuthRepType' | translate"
          formControlName="complainantAuthRepType" [info]="'filing.complainantAuthRepTypeInfo' | translate">
          <f-facet name="error" *ngIf="submitted && f.complainantAuthRepType.errors?.required">{{'validationWarning' | translate  }}</f-facet>
        </w-select-one>
      </w-slot>
    </w-section>



    <w-section *ngIf="displayAuthRepField">
      <w-slot>
        <w-input-text [label]="'filing.complainantAuthRepFullName' | translate" [labelOnTop]="true" [required]="true" maxLength="255"
          formControlName="complainantAuthRepFullName" [hidden]="displayAuthRepField">
          <f-facet name="error"  *ngIf="displayAuthRepField && submitted && f.complainantAuthRepFullName.errors?.required">
            {{'validationWarning' |   translate  }}</f-facet>
        </w-input-text>

        <w-select-one [label]="'filing.complainantAuthRepCountry' | translate" [labelOnTop]="true" [required]="true"
          formControlName="complainantAuthRepCountry" [options]="countryOptions" [hidden]="displayAuthRepField">
          <f-facet name="error"  *ngIf="displayAuthRepField && submitted && f.complainantAuthRepCountry.errors?.required">
            {{'validationWarning' |   translate  }}</f-facet>
        </w-select-one>
      </w-slot>

      <w-slot>

        <w-input-text label="{{displayAuthRepFieldLabel}}" [labelOnTop]="true" [required]="true" maxLength="255"
          formControlName="complainantAuthRepLawFirm" [hidden]="displayAuthRepField">
          <f-facet name="error"
            *ngIf="displayAuthRepField && submitted && f.complainantAuthRepLawFirm.errors?.required">{{'validationWarning' |  translate  }}</f-facet>
        </w-input-text>
        <w-input-text [label]="'filing.complainantAuthRepEmail' | translate" [labelOnTop]="true" [required]="true" maxLength="255"
          formControlName="complainantAuthRepEmail" [info]="'filing.complainantAuthRepEmailInfo' | translate"
          [hidden]="displayAuthRepField">
          <f-facet name="error"  *ngIf="displayAuthRepField && submitted && f.complainantAuthRepEmail.errors?.required">
            {{'validationWarning' | translate }}</f-facet>
          <f-facet name="error" *ngIf="displayAuthRepField && f.complainantAuthRepEmail.errors?.invalidEmails">
            {{'validationEmail' |  translate}}</f-facet>
        </w-input-text>
      </w-slot>
    </w-section>


  </w-edit-panel>


  <w-page-header [title]="'filing.pageSec2Title' | translate" [disableUppercase]="true" [showPortfolio]="false">
  </w-page-header>

  <w-edit-panel>
    <w-section>
      <w-slot>
        <w-input-radio label="{{'filing.caseService' | translate}}" [options]="'filing.caseServiceOptions' | translate "  formControlName="caseService">
          <f-facet name="info" [innerHTML]="'filing.IsComplaintfiledInfo' | translate"> </f-facet>
          <f-facet name="error" *ngIf="submitted && f.caseService.errors?.required">{{'validationWarning' | translate  }}</f-facet>
        </w-input-radio>
      </w-slot>
    </w-section>

    <w-section>
      <w-slot>
        <w-input-text [label]="'filing.respondentFullName' | translate" [labelOnTop]="true" [required]="true" maxLength="255"
          formControlName="respondentFullName" [info]="'filing.respondentFullNameInfo' | translate">
          <f-facet name="error" *ngIf="submitted && f.respondentFullName.errors?.required">{{'validationWarning' | translate  }}</f-facet>
        </w-input-text>
      </w-slot>
      <w-slot>
        <w-input-text [label]="'filing.respondentEmail' | translate" [labelOnTop]="true"  maxLength="255"
          formControlName="respondentEmail" [info]="'filing.respondentEmailInfo' | translate"
          [hidden]="displayAuthRepField">
          <f-facet name="error" *ngIf="f.respondentEmail.errors?.invalidEmails"> {{'validationEmail' |  translate}}</f-facet>
        </w-input-text>
      </w-slot>
    </w-section>
  </w-edit-panel>


  <w-page-header [title]="'filing.pageSec4Title' | translate" [disableUppercase]="true" [showPortfolio]="false">
  </w-page-header>

  <w-edit-panel>
    <w-section>
      <w-slot>
        <w-input-text [label]="'filing.registrarEmailTitle' | translate" [labelOnTop]="true" formControlName="registrarEmail" maxLength="255">
          <f-facet name="info" [innerHTML]="'filing.registrarEmailInfo' | translate"></f-facet>
          <f-facet name="error" *ngIf="f.registrarEmail.errors?.invalidEmails">{{'validationEmail' |  translate}}</f-facet>
        </w-input-text>
      </w-slot>
    </w-section>
  </w-edit-panel> 




  <w-page-header [title]="'filing.pageSec3Title' | translate" [disableUppercase]="true" [showPortfolio]="false">
  </w-page-header>


  <w-edit-panel>
    <w-section>
      <w-slot>
        <w-input-text [label]="'filing.domainName' | translate" [labelOnTop]="true" [required]="true" maxLength="800"
          formControlName="domainName">
          <f-facet name="error" *ngIf="submitted && f.domainName.errors?.required">{{'validationWarning' | translate }}</f-facet>
          <f-facet name="info" [innerHTML]="'filing.domainNameInfo' | translate"></f-facet>
        </w-input-text>
      </w-slot>
    </w-section>


    <w-section>
      <w-slot>
        <w-input-checkbox-one [label]="'filing.statusCheckDone' | translate" [labelOnTop]="true" [required]="true"
          formControlName="statusCheckDone">
          <f-facet name="error" *ngIf="submitted && f.statusCheckDone.errors?.required">{{'validationWarning' | translate }}</f-facet>
        </w-input-checkbox-one>

        <w-input-checkbox-one [label]="'filing.domainNameCaseAck' | translate" [labelOnTop]="true" [required]="true"
          formControlName="domainNameCaseAck">
          <f-facet name="error" *ngIf="submitted && f.domainNameCaseAck.errors?.required">{{'validationWarning' | translate  }}</f-facet>
        </w-input-checkbox-one>
      </w-slot>
    </w-section>


    <w-section>
      <f-facet name="header">{{'filing.uploadComplaintTitle' | translate }}*</f-facet>
      <w-slot>
        <w-input-file [multiple]="true" [sizeLimit]="10000000" [label]="'filing.uploadComplaintLabel' | translate" 
          [labelSelect]="'filing.ADD_DOCUMENT' | translate"  [invalidFileSizeMessageSummary]="'ValidFileSize' | translate" 
          [showUploadButton]="false" [auto]="false" (wSelected)="onFileChange('complaintfile',$event)" formControlName="complaintfile">
          <f-facet name="info" [innerHTML]="'filing.uploadComplaint' | translate"> </f-facet>
          <f-facet name="error" *ngIf="submitted && (complaintFileList === undefined || complaintFileList.length === 0)">&nbsp;&nbsp;{{'validationWarning' | translate  }}</f-facet>
        </w-input-file>
      </w-slot>
    </w-section>

    <w-section>
      <f-facet name="header">{{'filing.uploadAnnexesTitle' | translate }}</f-facet>
      <w-slot>
        <w-input-file [multiple]="true" [sizeLimit]="10000000"  [label]="'filing.uploadAnnexesLabel' | translate" 
          [labelSelect]="'filing.ADD_DOCUMENT' | translate"  [invalidFileSizeMessageSummary]="'ValidFileSize' | translate" 
          [showUploadButton]="false" [auto]="false"  (wSelected)="onFileChange('annexesfile',$event)" formControlName="annexesfile">
          <f-facet name="info" [innerHTML]="'filing.uploadAnnexes' | translate"> </f-facet>
        </w-input-file>
      </w-slot>
    </w-section>


    <w-section>
      <f-facet name="header">{{'filing.uploadPayTitle' | translate }}</f-facet>
      <w-slot>
        <w-input-file [multiple]="true" [sizeLimit]="10000000" 
          [label]="'filing.uploadPayLabel' | translate" [labelSelect]="'filing.ADD_DOCUMENT' | translate"
          [invalidFileSizeMessageSummary]="'ValidFileSize' | translate" [showUploadButton]="false" [auto]="false"
          (wSelected)="onFileChange('paymentfile',$event)" formControlName="paymentfile">
          <f-facet name="info" [innerHTML]="'filing.uploadPayDetails' | translate:{value: paymentLink}"> </f-facet>
        </w-input-file>
      </w-slot>
    </w-section>

  </w-edit-panel>

  <w-view [center]="false" [textPosition]="'start'">
    <f-facet name="description">
      <re-captcha formControlName="g_recaptcha_response" siteKey="{{siteKey}}"></re-captcha>
    </f-facet>
    <f-facet name="footer" *ngIf="submitted && f.g_recaptcha_response.errors?.required">
      <w-validation-panel [type]="'error'" [summary]="'captchError'| translate"></w-validation-panel>
    </f-facet>
  </w-view>



  <w-page-header [disableUppercase]="true" [showPortfolio]="false">
    <f-facet name="actions">
      <button w-button [isDefault]="true" [isSecondary]="false" [disabled]="false" [buttonType]="'text'" type="submit"
        (click)="onSubmit()">
        {{ 'filing.submitComplaint' | translate }}
      </button>
    </f-facet>
  </w-page-header>

</form>


<w-dialog *ngIf="isOpen" [style]="style">
  <w-step [title]="'filing.alerTitle' | translate" [reviewMode]="true">
    <div facet-step-info [innerHTML]="'filing.alerText' | translate"></div>
    <button w-button (click)="closeDialogbox()" facet-step-actions>OK</button>
  </w-step>
</w-dialog>

<w-dialog *ngIf="totalFileSizeDialogbox" [style]="style">
  <w-step [title]="'errorTitle' | translate" [reviewMode]="true">
    <div facet-step-info [innerHTML]="'validationTotalFileSize'| translate"></div>
    <button w-button (click)="closeTotalFileSizeDialogbox()" facet-step-actions>OK</button>
  </w-step>
</w-dialog>

